{% extends "base.html" %}
{% load static %}

{% block hero %}
<!-- ======= Hero Section ======= -->
<div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h3>NTPC Project meet 2023 | Registration</h3>
    <div style="width: 70%">
        <form action="new" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">First Name</div>
                <div class="col">
                    <input class="form-control" type="text" name="first_name" required>
                </div>
            </div>
            <div class="row">
                <div class="col">Last Name</div>
                <div class="col">
                    <input class="form-control" type="text" name="last_name" required>
                </div>
            </div>

            <div class="row">
                <div class="col">Email</div>
                <div class="col">
                    <input class="form-control" type="text" name="email"  value="{{email}}" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col">Designation</div>
                <div class="col">
                    <select name="designation" class="form-control" required>
                        <option value="ED">ED</option>
                        <option value="CGM">CGM</option>
                        <option value="GM">GM</option>
                        <option value="AGM">AGM</option>
                        <option value="SM">Senior Manager</option>
                        <option value="Manager">Manager</option>
                        <option value="Other">Others</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">Location</div>
                <div class="col">
                    <input class="form-control" type="text" name="location" required>
                </div>
            </div>
            
            <div class="row">
                <div class="col">Date of arrival at Delhi</div>
                <div class="col">
                    <input class="form-control" type="date" name="arrival_date" required>
                </div>
            </div>
            <div class="row">
                <div class="col">Date of departure from Delhi</div>
                <div class="col">
                    <input class="form-control" type="date" name="departure_date" required>
                </div>
            </div>
            <button class="form-control">Submit</button>
        </form>
    </div>
</div>
{% endblock %}